fastapi
uvicorn
pandas
openpyxl
requests
types-requests
python-multipart
aiofiles
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
schedule
pyproj
shapely
matplotlib
playwright
global-land-mask
